<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{#contentFor "content"}}
      <!-- Content of individual pages will be injected here -->
    {{/contentFor}}
  </main>
  <footer>
    <p>Find me on <a href="https://github.com/yourgithub">GitHub</a> and <a href="https://www.linkedin.com/in/yourlinkedin">LinkedIn</a></p>
  </footer>
</body>
</html>
