{{> layouts/layout}}

{{#block "content"}}
  <div class="container">
    <h1>Projects</h1>
    
    <h2>Project 1: Project Name</h2>
    <p>
      Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nulla nec odio in velit scelerisque dapibus. 
      Sed eget ultrices orci, in tincidunt libero.
    </p>
    
    <h2>Project 2: Project Name</h2>
    <p>
      Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nulla nec odio in velit scelerisque dapibus. 
      Sed eget ultrices orci, in tincidunt libero.
    </p>
    
    <h2>Project 3: Project Name</h2>
    <p>
      Project description goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nulla nec odio in velit scelerisque dapibus. 
      Sed eget ultrices orci, in tincidunt libero.
    </p>
  </div>
{{/block}}
