{{> layouts/layout}}

{{#block "content"}}
  <div class="container">
    <h1>About Me</h1>
    
    <h2>Introduction</h2>
    <p>
      Hi, I'm Harvinder Singh, a passionate web developer with a strong background in JavaScript 
      and front-end technologies. I enjoy turning ideas into functional and user-friendly web 
      applications.
    </p>
    
    <h2>Education</h2>
    <p>
      I am currently pursuing a Computer programming diploma at Georgian College. My 
      education has equipped me with a strong foundation in computer programming and software development.
    </p>
    
    <h2>Skills</h2>
    <p>
      I have a diverse skill set that includes proficiency in HTML, CSS, JavaScript, Node.js, 
      Express.js, and more. I'm continually learning and staying up-to-date with the latest 
      web development trends.
    </p>
    
    <h2>Experience</h2>
    <p>
      As a computer programming student, I've had the opportunity to work on various web projects, ranging from 
      building responsive websites to developing interactive web applications. I enjoy 
      collaborating with teams to create innovative solutions.
    </p>
    
    <h2>Contact</h2>
    <p>
      I'm always open to new opportunities and collaborations. Feel free to connect with me 
      on <a href="https://www.linkedin.com/in/harvinder-singh">LinkedIn</a> or check out my 
      projects on <a href="https://github.com/harv10">GitHub</a>.
    </p>
  </div>
{{/block}}
