{{> layouts/layout}}

{{#block "content"}}
  <div class="container">
    <h1>Welcome to My Portfolio</h1>
    <p>This is my portfolio website, where I showcase my skills, experiences, and projects in web development.</p>
    
    <h2>Skills</h2>
    <ul>
      <li>Web Development</li>
      <li>JavaScript (ES6+)</li>
      <li>Node.js</li>
      <li>Express.js</li>
      <li>Handlebars Templating</li>
      <li>HTML5 & CSS3</li>
    </ul>
    
    <h2>Experience</h2>
    <p>As a computer programming student, I've had the opportunity to work on various web development projects, ranging from building responsive websites to developing interactive web applications. I enjoy collaborating with teams to create innovative solutions.</p>
    
    <h2>Education</h2>
    <p>I am currently pursuing  Computer programming diploma at Georgian College. My academic journey has equipped me with a strong foundation in computer programming and software development.</p>
    
    <h2>Certifications</h2>
    <p>I have certifications in web development and JavaScript, reflecting my commitment to staying up-to-date with the latest web development trends.</p>
  </div>
{{/block}}
